<div
    id="title-bar"
    class="action-bar bg-gradient-to-r from-blue-100 to-blue-300 shadow-md text-blue-900"
    *ngIf="appService.actionBar && electronService.isElectron">
    <div
        class="app-actions flex items-center space-x-2 px-3"
        *ngIf="process && process.platform !== 'darwin'">

        <button
            [tp]="'Select screen' | translate"
            *ngIf="!isRemote"
            (click)="screenSelect(false, true)"
            class="hover:bg-blue-200 p-2 rounded-lg transition">
            <ion-icon name="browsers-outline" class="text-lg"></ion-icon>
        </button>

        <button
            (click)="electronService.minimize()"
            class="hover:bg-blue-200 p-2 rounded-lg transition">
            <ion-icon name="remove-outline" class="text-lg"></ion-icon>
        </button>

        <button
            (click)="electronService.maximize()"
            class="hover:bg-blue-200 p-2 rounded-lg transition">
            <ion-icon name="resize-outline" class="text-lg"></ion-icon>
        </button>

        <button
            *ngIf="isRemote"
            class="close hover:bg-red-200 p-2 rounded-lg transition text-red-600"
            (click)="electronService.close()">
            <ion-icon name="close-outline" class="text-lg"></ion-icon>
        </button>

        <button
            *ngIf="!isRemote"
            class="close hover:bg-red-200 p-2 rounded-lg transition text-red-600"
            (click)="electronService.hide()">
            <ion-icon name="close-outline" class="text-lg"></ion-icon>
        </button>
    </div>
</div>

<ion-app [class.main-area]="!isInfoWindow" class="bg-gray-50">
    <ion-split-pane contentId="main-content">
        <!-- Side Menu -->
        <ion-menu
            *ngIf="appService.sideMenu"
            swipeGesture="false"
            class="main-menu bg-white shadow-lg border-r border-gray-200"
            contentId="main-content"
            type="overlay">
            <ion-content>
                <ion-list class="mt-2">
                    <ion-menu-toggle
                        auto-hide="false"
                        *ngFor="let p of appPages; let i = index">
                        <ion-item
                            routerDirection="root"
                            [routerLink]="[p.url]"
                            lines="none"
                            detail="false"
                            routerLinkActive="active"
                            class="rounded-lg hover:bg-blue-100 transition-colors text-blue-900">
                            <ion-icon
                                slot="start"
                                [icon]="p.icon"
                                class="text-blue-600"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>

        </ion-menu>

        <!-- Main content -->
        <ion-router-outlet id="main-content" class="bg-gray-50"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
